<!DOCTYPE html>
<html>
	<head>
		<script charset="utf-8" type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</head>
	<body>
		<form id="new-band">
			<input type="text" name="name" id="band-name" placeholder="Band name"/>
			<input type="text" name="genre" id="band-genre" placeholder="Band genre"/>
			<input type="text" name="size" id="band-size" placeholder="Band size"/>
			<input type="submit" value="Save Note" id="note-submit"/>
		</form>
		<div id="bands">Loading...</div>
	</body>
</html>
